<%= form_for(@memebership) do |f| %>
  <% if @memebership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memebership.errors.count, "error") %> prohibited this memebership from being saved:</h2>

      <ul>
      <% @memebership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.select :beer_club_id, options_from_collection_for_select(@beerClubs, :id, :to_s) %>
    <%= f.submit%>

<% end %>
